:root {
  --blue: #4585E4;
  --yellow: #FFF500;
  --white: #FFFFFF;
  --lightBlue:#CEE2FF;
  --menuBlue: #9EBFF1; 
  --lightYellow: #FFFEDB;
  --navbarHeight:9rem;
  --marginTop:10rem
}


html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.icons{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}
img{
  max-width: 100%;
}

.pilgrimage-status {
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;

}
.pilgrimage-img-list{
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
  
}

.status-completed {
  background-color: #9ef29e;
  color: #154b15; /* Asegura que el texto sea legible */
}

.status-canceled {
  background-color: #ff7d7d;
  color: #571515;
}

.status-pending {
  background-color: #fff199;
  color: #514918;
}

.status-unknown {
  background-color: gray;
  color: white;
}