/**Generales**/
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

/**Status pilgrimage**/
.pilgrimage-status {
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;

}
.pilgrimage-img-list{
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
  
}

.status-completed {
  background-color: #9ef29e;
  color: #154b15; 
}

.status-canceled {
  background-color: #ff7d7d;
  color: #571515;
}

.status-pending {
  background-color: #fff199;
  color: #514918;
}

.status-unknown {
  background-color: gray;
  color: white;
}

/**Menu **/


.menu-modal li{
  display: flex;
  gap: 1rem;
  padding:0.5rem 1.5rem;
  padding-top: 0rem;
  margin:0;
 
}
.menu-modal li:first-child{
  padding-top: 0.5rem;
}

.menu-modal ul{
  padding: 0;
  margin: 0;
}

.profile-img {
  border: 1px solid #fff;
}


/** List pilgrimage**/
.pilgrimage-img-list{
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
  
}
/**Pilgrimage details**/

.pilgrimage-details-img {
  border-radius: 1rem;
  max-height: 40rem;
}

.max-height-img{
  max-height: 30rem;
}

.box-hover:hover{
  background-color: #e3e3e3;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

